{% extends 'base.html.twig' %}

{% block title %}Ryuk - Contact
{% endblock %}

{% block content %}
	<h2>Vous pouvez nous contacter via :</h2>
	<article>
		<div class="card">
			<a href="https://github.com/">
				<img src="https://github.githubassets.com/assets/GitHub-Logo-ee398b662d42.png" width='20%'></a>
			<ul>
				<li><a href="https://github.com/WhyteTiger">Mevlyn Bauvent</a></li>
				<li><a href="https://github.com/zulianc">Julien Chataigner</a></li>
				<li><a href="https://github.com/Janet-Doe">Lilas Grenier</a></li>
				<li><a href="https://github.com/Persson-dev">Simon Priblynski</a></li>
			</ul>
		</div>

		<div class="card">
			<b>
				Mail :
			</b>
			<ul>
				<li><a href="mailto:melvyn.bauvent@etu.univ-lyon1.fr">melvyn.bauvent@etu.univ-lyon1.fr</a></li>
				<li><a href="mailto:julien.chataigner@etu.univ-lyon1.fr">julien.chataigner@etu.univ-lyon1.fr</a></li>
				<li><a href="mailto:lilas.grenier@etu.univ-lyon1.fr">lilas.grenier@etu.univ-lyon1.fr</a></li>
				<li><a href="mailto:simon.priblynski@etu.univ-lyon1.fr">simon.priblynski@etu.univ-lyon1.fr</a></li>
			</ul>
		</div>


	</article>
{% endblock %}
