{% extends 'base.html.twig' %}

{% block title %}Ryuk - Home{% endblock %}

{% block content %}
<h2>Une mort est si vite arrivée...</h2>
<p>Beaucoup de contenu.</p> <br>
<p>Beaucoup de contenu.</p> <br>
<p>Beaucoup de contenu.</p> <br>
{% for i in 1..100 %}
    <p>Beaucoup de contenu.</p>
{% endfor %}

{% endblock %}
