{% extends 'base.html.twig' %}

{% block title %}Ryuk - Home{% endblock %}

{% block body %}
<h1>Ryuk</h1>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
<p>a</p> <br/>
{% endblock %}
