{% extends 'base.html.twig' %}

{% block title %}Ryuk - Home
{% endblock %}

{% block content %}
	<h2>Une mort est si vite arrivée...</h2>
	<article>
		<div class="card">
			<h2>Nombre de morts par départements</h2>
				<table class="table table-dark table-striped table-bordered table-hover rounded-3">
					<thead>
						<tr>
							<th>Departement</th>
							<th>Nombre</th>
						</tr>
					</thead>
					<tbody>
						{% for departement in topDepartements %}
						<tr>
							<td>{{ departement.nom }}</td>
							<td>{{ departement.nombre }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
		</div>
		<div class="card">
			<h2>Top des prénoms les plus morts</h2>
				<table class="table table-dark table-striped table-bordered table-hover rounded-3">
					<thead>
						<tr>
							<th>Prenom</th>
							<th>Nombre</th>
						</tr>
					</thead>
					<tbody>
						{% for prenom in topPrenoms %}
						<tr>
							<td>{{ prenom.prenom }}</td>
							<td>{{ prenom.nombre }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
		</div>
		{% for i in 1..100 %}
			<div class="card">
				Beaucoup de contenu.
			</div>
		{% endfor %}
	</article>
{% endblock %}
