{% block footer %}
	<a href={{ path('app_footer_informations_legales') }}>Informations légales</a>
    <a href={{ path('app_footer_ressources') }}>Ressources utilisées</a>
    <a href={{ path('app_footer_contact') }}>Contacter les propriétaires du site</a>
{% endblock %}