{% block header %}
    <a href = "">Accueil</a> 
    <a href = "">Prédictions</a>
    <a href = "">Assurance Vie</a>
    <a href = "">Testament</a>
    <a href = "">Carte</a>
    <a href = "">Ressources</a>
{% endblock %}