{% extends 'base.html.twig' %}

{% block title %}Ryuk - Testament{% endblock %}

{% block content %}
<h2>Mieux vaut prévenir que mourir.</h2>
<article> 
« CECI EST MON TESTAMENT
JE SOUSSIGNE(E)
Monsieur état-civil complet, date de naissance, adresse, célibataire, pacsé avec
Mademoiselle xxxxxxxx.
OU
Mademoiselle état-civil complet, date de naissance, adresse, célibataire, pacsée avec
Monsieur XXXXXX

<br>

Déclare établir mes dispositions de dernières volontés dans les termes suivants :
« 1) Pour le cas où je ne laisserais pas de descendants :
Je lègue au profit de mon partenaire pacsé, Monsieur xxx OU Madame xxx la toute propriété de tous mes biens sans exception ni réserve.
<br>
2) En présence d’enfants ou de descendants :
Je lègue au profit de mon partenaire pacsé, Monsieur xxx ou Madame XXX 
SOIT l'usufruit de la totalité de mes biens et droits mobiliers et immobiliers qui composeront ma succession (à l’exception …..).
SOIT l’usufruit de tous mes biens immobiliers OU l’usufruit de la résidence principale.
<br>
En présence d’enfants ou de descendants, l’usufruitier ne sera pas tenu de fournir caution mais sera tenu, si les descendants l’exigent, de faire effectuer inventaire des biens
soumis à son usufruit.
Pour le cas où la valeur de ce legs excèderait la quotité disponible de ma succession et si la réduction en était demandée, le legs ne sera pas caduc, le bénéficiaire pourra le conserver en nature à charge de désintéresser les héritiers réservataires en valeur.

La présente disposition serait caduque en cas de dissolution de PACS (ou de séparation
de fait), ou encore dans le cas où nous viendrions à décéder dans un même évènement. »

<br>
Tutelle testamentaire
En cas de décès simultanés et avant la majorité ou l’émancipation de mes enfants, je
désigne pour exercer les fonctions de tuteur et de garde de mes enfants mineurs, Monsieur xxx
ou Madame xxxx, ainsi que la faculté m’en est donnée par les dispositions du Code civil.
Pour le cas où ce dernier viendrait à décéder avant moi ou à ne pouvoir pourvoir aux
fonctions de tuteur, je désigne comme tuteur de second rang Monsieur XXX ou Madame XXX
Je souhaite que le présent testament soit mentionné au Fichier central des dispositions
de dernières volontés par les soins de Maître…………., notaire à ………….
Fait et écrit en entier de ma main, librement, avec la pleine jouissance de mes facultés
intellectuelles.
Je déclare, en outre, révoquer toutes dispositions testamentaires antérieures.
Fait et passé à
Le
Signature »
</article>
{% endblock %}
