{% extends 'base.html.twig' %}

{% block title %}Ryuk - Ressources utilisées
{% endblock %}

{% block content %}
	<h2>Ressources utilisées</h2>

	<article>
		<div class="card">
			<h2>
				Composition de la base de données
			</h2>
			<ul>
				<li><a target="_blank" href="https://www.insee.fr/fr/statistiques/3676610?sommaire=3696937">INSEE - Espérance de vie, mortalité</a></li>
				<li><a target="_blank" href="https://www.data.gouv.fr/fr/datasets/causes-de-deces/">Data.gouv.fr - Causes de décès</a></li>
			</ul>
		</div>

		<div class="card">
			<h2>
				Ressources liées à la carte
			</h2>
			<ul>
				<li>
					<a target="_blank" href="https://overpass-api.de/">API d'Overpass</a>
					pour interroger les données d'<a target="_blank" href="https://www.openstreetmap.org">OpenStreetMap</a>
				</li>
				<li>
					<a target="_blank" href="https://leaflet.github.io/Leaflet.markercluster/">Leaflet</a>
				</li>
			</ul>
		</div>
	</article>
{% endblock %}
