{% extends 'base.html.twig' %}

{% block title %}Ryuk - Ressources utilisées{% endblock %}

{% block content %}
<h2>Ressources utilisées</h2>
<article>
    <a href="https://www.data.gouv.fr/fr/reuses/api-des-personnes-decedees/">API des personnes décédées</a><br>
    <a href="https://public.opendatasoft.com/explore/dataset/liste-des-personnes-decedees-en-france/table/">Liste des personnes décédés en france</a><br>
    <a href="https://www.data.gouv.fr/fr/datasets/fichier-des-prenoms-depuis-1900/">Fichier des prénoms depuis 1900</a><br>
    <a href="https://public.opendatasoft.com/explore/dataset/osm-france-defibrillator/table/?disjunctive.meta_code_com&disjunctive.meta_code_dep&disjunctive.meta_code_reg">Défibrillateurs Automatisés Externes</a><br>
    <a href="https://public.opendatasoft.com/explore/dataset/osm-france-healthcare/">Établissements de santé</a><br>
    <a href="https://www.openstreetmap.org/">OpenStreetMap</a><br>
    <a href=""></a><br>
    <a href=""></a><br>
    <a href=""></a><br>
    <a href=""></a><br>
    <a href=""></a><br>
    <a href=""></a><br>
    <a href=""></a><br>
    <a href=""></a><br>
    <a href=""></a><br>
    <a href=""></a><br>
    <a href=""></a><br>
    <a href=""></a><br>
    <a href=""></a>
</article>
{% endblock %}
