{% extends 'base.html.twig' %}

{% block title %}Ryuk - Ressources{% endblock %}

{% block content %}
<h2>Et puisque mourir de rire n'est pas viable : </h2>
<article> 

<div class="card">
<b>
Ligne téléphonique de prévention du suicide :
</b>
<a href="https://3114.fr/">Numéro national de prévention du suicide : 3114</a><br>
<a href="https://www.filsantejeunes.com/">Fil santé jeunes : 0800 235 236 (pour les 12-25 ans)</a><br>
<a href="https://www.croix-rouge.fr/soutien-psychosocial-par-telephone">La Croix Rouge Ecoute : 0 800 858 858</a><br>
<a href="https://sos-suicide-phenix.org/">SOS Suicide Phénix : 01 40 44 46 45</a><br>
<a href="https://www.sos-amitie.com/">Sos amitié : 09 72 39 40 50</a><br>
<a href="https://www.suicide-ecoute.fr/">Suicide écoute : 01 45 39 40 00</a>
</div>
</article>
{% endblock %}
